body{
    background-image: url(images/sign-dish-main.jpg);
    font-family: 'Times New Roman', Times, serif;
}
ul {
    list-style-type: none;
    text-align: center;
}
li {
    display: inline;
    padding: 10px;
    background-color: grey;
    margin:10px;
    border-radius: 4px;
}
li a{
    font-size: 1.3em;
    color:white;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    text-decoration: none;
}
li:hover, a:hover {
    background-color: magenta;
    color: yellow;
}
.godenpic{
    float: left;
    height: 300px;
    width: 300px;
    border-style: dashed;
    margin: 20px;
    border-width: 20px;
    border-radius: 50%;
    border-color: lightyellow;
}
.title{
    text-align: center;
    background-color: navy;
    color:white;
    border-radius: 10px;
    padding: 10px;
    font-size: xx-large;
}
.end{
    text-align: center;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    float: left;
    width: 99%;
    height: 26px;
    color: green;
    background-color: gold;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    font-variant: small-caps;
    font-size: 1.2em;
    margin-top: 250px;
}
.bigletter{
    font-size: 200%;
    color: #8A2BE2;
}
.content{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 1.2em;
    font-style: italic;
}